@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

:root {
  --dark-blue: #183880;
  --light-blue: #188bc9;
  --red: #cd1426;
  --yellow: #dbdc3d;
  --green: #27c411;
  --light-gray: #c9e7f0;
  --text: 1.5rem;
  --small-text: 2rem;
  --medium-text: 2.5625rem;
  --large-text: 3.5625rem;
  --cta: 1.75rem;
  --font-family: "Noto Sans JP", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: #333;
}

.container {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

@import "header";
@import "banner";
@import "cta";
@import "section3";
@import "section4";
@import "section5";
@import "section6";
@import "section7";
@import "section8";
@import "section9";
@import "section10";
@import "section11";
@import "footer";

@import "other";
