@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
:root {
  --dark-blue: #183880;
  --light-blue: #188bc9;
  --red: #cd1426;
  --yellow: #dbdc3d;
  --green: #27c411;
  --light-gray: #c9e7f0;
  --text: 1.5rem;
  --small-text: 2rem;
  --medium-text: 2.5625rem;
  --large-text: 3.5625rem;
  --cta: 1.75rem;
  --font-family: "Noto Sans JP", sans-serif;
  --animation-bg: #fff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: #333;
}

.container {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

.header {
  width: 100%;
  max-width: 750px;
  aspect-ratio: 1/0.16;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  box-shadow: 0px 8px 10px rgba(51, 51, 51, 0.1019607843);
  position: fixed;
  background-color: white;
  z-index: 1000;
}
.header-logo {
  width: 100%;
  max-width: 400px;
  max-height: 92px;
  object-fit: cover;
}
@media screen and (max-width: 430px) {
  .header-logo {
    max-width: 266.6666666667px;
    max-height: 61.3333333333px;
  }
}
.header-phone-icon {
  max-width: 85px;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
@media screen and (max-width: 430px) {
  .header-phone-icon {
    max-width: 56.6666666667px;
  }
}
@media screen and (max-width: 430px) {
  .header {
    padding: 0 15px;
    gap: 15px;
  }
}

.banner {
  position: relative;
  margin-bottom: 25px;
}
.banner img {
  width: 100%;
  object-fit: cover;
}
.banner .banner-text {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--small-text);
  font-weight: bold;
  color: white;
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  background-color: var(--light-blue);
}
@media screen and (max-width: 430px) {
  .banner .banner-text {
    height: 46.6666666667px;
    font-size: calc(var(--small-text) / 1.5);
  }
}

.cta {
  width: 100%;
  padding: 50px 30px;
  background-color: var(--dark-blue);
}
@media screen and (max-width: 430px) {
  .cta {
    padding: 33.3333333333px 20px;
  }
}
.cta-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 50px;
}
@media screen and (max-width: 430px) {
  .cta-items {
    margin-bottom: 33.3333333333px;
  }
}
.cta-item {
  width: calc(33.3333% - 10px);
  background-color: white;
  border-radius: 10px;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 430px) {
  .cta-item {
    width: calc(33.3333% - 5px);
    padding: 20px 0;
    gap: 15px;
  }
}
.cta-item-title {
  font-size: var(--cta);
  text-align: center;
  font-weight: bold;
  position: relative;
}
@media screen and (max-width: 430px) {
  .cta-item-title {
    font-size: calc(var(--cta) / 1.7);
  }
}
.cta-item-title::before {
  content: "";
  position: absolute;
  bottom: -15px;
  width: 100%;
  height: 1px;
  border-bottom: 2px dashed #808080;
}
@media screen and (max-width: 430px) {
  .cta-item-title::before {
    bottom: -7.5px;
  }
}
.cta-item-text {
  font-size: var(--medium-text);
  text-align: center;
  color: var(--red);
  font-weight: bold;
}
@media screen and (max-width: 430px) {
  .cta-item-text {
    font-size: calc(var(--medium-text) / 1.7);
  }
}
.cta-text {
  font-size: var(--cta);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 10px;
  --bg-pseudo: white;
}
@media screen and (max-width: 430px) {
  .cta-text {
    font-size: calc(var(--cta) / 1.7);
    margin-bottom: 20px;
  }
}
.cta-text p {
  position: relative;
  color: white;
  width: fit-content;
}
.cta-text p span {
  font-size: var(--small-text);
  color: var(--yellow);
}
@media screen and (max-width: 430px) {
  .cta-text p span {
    font-size: calc(var(--small-text) / 1.5);
  }
}
.cta-text p:nth-child(2)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -30px;
  width: 3px;
  height: 42px;
  background-color: var(--bg-pseudo);
  rotate: -30deg;
}
@media screen and (max-width: 430px) {
  .cta-text p:nth-child(2)::before {
    left: -15px;
    height: 21px;
  }
}
.cta-text p:nth-child(2)::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -30px;
  width: 3px;
  height: 42px;
  background-color: var(--bg-pseudo);
  rotate: 25deg;
}
@media screen and (max-width: 430px) {
  .cta-text p:nth-child(2)::after {
    right: -15px;
    height: 21px;
  }
}
.cta-button img {
  width: 100%;
  object-fit: cover;
  position: relative;
}
.cta-button :hover {
  position: relative;
  top: 4px;
}

.custom-cta {
  background-color: white !important;
}
.custom-cta .cta-text p {
  color: #333;
  --bg-psuedo: #333;
}
.custom-cta .cta-text p span {
  color: var(--red) !important;
  font-size: var(--small-text) !important;
}
@media screen and (max-width: 430px) {
  .custom-cta .cta-text p span {
    font-size: calc(var(--small-text) / 1.5) !important;
  }
}

.section-3 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 80px 30px;
  background-color: #c7e5ee;
  margin-bottom: 80px;
}
@media screen and (max-width: 430px) {
  .section-3 {
    gap: 33.3333333333px;
    padding: 53.3333333333px 20px;
    margin-bottom: 53.3333333333px;
  }
}
.section-3__title {
  padding: 0 88px;
  margin-bottom: 30px;
}
@media screen and (max-width: 430px) {
  .section-3__title {
    padding: 0 58.6666666667px;
    margin-bottom: 20px;
  }
}
.section-3 p {
  font-size: var(--medium-text);
  font-weight: bold;
  text-align: center;
  color: var(--dark-blue);
}
@media screen and (max-width: 430px) {
  .section-3 p {
    font-size: calc(var(--medium-text) / 1.5);
  }
}
.section-3 img {
  width: 100%;
  object-fit: cover;
}
.section-3 .mb-30 {
  margin-bottom: 30px;
}
.section-3 .text-50 {
  font-size: 50px;
  line-height: 1.3;
  font-weight: bolder;
  text-shadow: 2px 2px 0px white, -2px -2px 0px white, -2px 2px 0px white, 2px -2px 0px white;
}
@media screen and (max-width: 430px) {
  .section-3 .text-50 {
    font-size: 33.3333333333px;
  }
}
.section-3 .text-41 {
  font-size: 41px;
}
@media screen and (max-width: 430px) {
  .section-3 .text-41 {
    font-size: 27.3333333333px;
  }
}
.section-3 .text-32 {
  font-size: 32px;
}
@media screen and (max-width: 430px) {
  .section-3 .text-32 {
    font-size: 21.3333333333px;
  }
}

.section-4 {
  margin-bottom: 80px;
  padding: 0 30px;
}
@media screen and (max-width: 430px) {
  .section-4 {
    margin-bottom: 53.3333333333px;
    padding: 0 20px;
  }
}
.section-4-title {
  font-size: 50px;
  font-weight: bold;
  color: var(--dark-blue);
  text-align: center;
  margin-bottom: 80px;
}
@media screen and (max-width: 430px) {
  .section-4-title {
    font-size: 33.3333333333px;
    margin-bottom: 53.3333333333px;
  }
}
.section-4-toilet-trouble {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}
@media screen and (max-width: 430px) {
  .section-4-toilet-trouble {
    gap: 20px;
    margin-bottom: 33.3333333333px;
  }
}
.section-4-toilet-trouble img {
  width: 50%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}
@media screen and (max-width: 430px) {
  .section-4-toilet-trouble img {
    height: 120px;
  }
}
.section-4-toilet-trouble__text {
  width: 50%;
  font-size: var(--medium-text);
  font-weight: bold;
  color: var(--dark-blue);
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
@media screen and (max-width: 430px) {
  .section-4-toilet-trouble__text {
    font-size: calc(var(--medium-text) / 1.5);
    height: 120px;
  }
}
.section-4-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 430px) {
  .section-4-items {
    gap: 20px;
  }
}
.section-4-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--light-blue);
  border-radius: 10px;
  overflow: hidden;
}
.section-4-item__title {
  font-size: var(--small-text);
  font-weight: normal;
  text-align: center;
  color: white;
  background-color: var(--light-blue);
  width: 100%;
  padding: 16px 0;
}
@media screen and (max-width: 430px) {
  .section-4-item__title {
    font-size: calc(var(--small-text) / 1.5);
    padding: 10.6666666667px 0;
  }
}
.section-4-item__price {
  font-size: 100px;
  font-weight: bold;
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--red);
  padding: 32px 0;
}
@media screen and (max-width: 430px) {
  .section-4-item__price {
    font-size: 66.6666666667px;
    padding: 21.3333333333px 0;
  }
}
.section-4-item__price span {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
  font-size: 50px;
}
@media screen and (max-width: 430px) {
  .section-4-item__price span {
    font-size: 33.3333333333px;
  }
}
.section-4-item__price span .text-18 {
  font-size: 18px;
}
@media screen and (max-width: 430px) {
  .section-4-item__price span .text-18 {
    font-size: 12px;
  }
}

.section-5 {
  background-color: var(--dark-blue);
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: white;
  padding: 50px 0;
  line-height: 1.5;
  position: relative;
}
@media screen and (max-width: 430px) {
  .section-5 {
    font-size: 33.3333333333px;
    padding: 33.3333333333px 0;
  }
}
.section-5::before {
  content: "";
  position: absolute;
  bottom: -18px;
  left: calc(50% - 25px);
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 25px 0 25px;
  border-color: var(--dark-blue) transparent transparent transparent;
  transform: rotate(0deg);
}
@media screen and (max-width: 430px) {
  .section-5::before {
    bottom: -12px;
    border-width: 13.3333333333px 16.6666666667px 0 16.6666666667px;
  }
}
.section-5 span {
  color: var(--yellow);
}

.section-6 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 80px;
  padding: 0 30px;
  position: relative;
}
@media screen and (max-width: 430px) {
  .section-6 {
    gap: 53.3333333333px;
    padding: 0 20px;
  }
  .section-6__wrapper {
    width: 100%;
  }
}
.section-6 img {
  width: 80%;
  object-fit: cover;
}
.section-6__step {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
@media screen and (max-width: 430px) {
  .section-6__step {
    gap: 20px;
  }
}
.section-6__step-item {
  background-color: var(--light-gray);
  border-radius: 100px;
  height: 83px;
  position: relative;
}
@media screen and (max-width: 430px) {
  .section-6__step-item {
    height: 55.3333333333px;
  }
}
.section-6__step-item_step-count {
  width: fit-content;
  position: relative;
  bottom: 20px;
  left: 20px;
}
@media screen and (max-width: 430px) {
  .section-6__step-item_step-count {
    bottom: 13.3333333333px;
    left: 13.3333333333px;
  }
}
.section-6__step-item_step-count img {
  width: 70px;
  height: 95px;
  object-fit: contain;
}
@media screen and (max-width: 430px) {
  .section-6__step-item_step-count img {
    width: 46.6666666667px;
    height: 63.3333333333px;
  }
}
.section-6__step-item_step-count span {
  font-size: var(--medium-text);
  color: white;
  font-weight: bold;
  position: absolute;
  top: calc(50% + 10px);
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 430px) {
  .section-6__step-item_step-count span {
    font-size: calc(var(--medium-text) / 1.5);
    top: calc(50% + 5px);
  }
}
.section-6__step-item p {
  font-size: var(--medium-text);
  font-weight: bold;
  color: var(--dark-blue);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 430px) {
  .section-6__step-item p {
    font-size: calc(var(--medium-text) / 2);
    left: calc(50% + 15px);
  }
}
.section-6__detail {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 430px) {
  .section-6__detail {
    gap: 20px;
  }
}
.section-6__detail-item {
  border: 1px solid var(--dark-blue);
  border-radius: 12px;
  overflow: hidden;
  padding-bottom: 50px;
  box-shadow: inset 2px 8px 8px rgba(24, 55, 128, 0.2), 2px 8px 8px rgba(24, 55, 128, 0.2);
  background-color: white;
}
@media screen and (max-width: 430px) {
  .section-6__detail-item {
    padding-bottom: 33.3333333333px;
  }
}
.section-6__detail-item img {
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 430px) {
  .section-6__detail-item img {
    width: 100%;
  }
}
.section-6__detail-item_title {
  font-size: var(--small-text);
  font-weight: 600;
  color: var(--dark-blue);
  margin: 50px 0 30px;
  position: relative;
  padding: 0 40px;
  line-height: 1.5;
}
@media screen and (max-width: 430px) {
  .section-6__detail-item_title {
    font-size: calc(var(--small-text) / 1.5);
    margin: 33.3333333333px 0 20px;
    padding: 0 26.6666666667px;
  }
}
.section-6__detail-item_title::before {
  content: "";
  position: absolute;
  bottom: -15px;
  width: 125px;
  height: 1px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.3);
}
@media screen and (max-width: 430px) {
  .section-6__detail-item_title::before {
    bottom: -10px;
    width: 83.3333333333px;
  }
}
.section-6__detail-item_description {
  font-size: var(--text);
  color: #000;
  padding: 0 40px;
  line-height: 2;
}
@media screen and (max-width: 430px) {
  .section-6__detail-item_description {
    font-size: calc(var(--text) / 1.5);
    padding: 0 26.6666666667px;
  }
}

.bg-detail {
  height: fit-content;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 66%, #c7e5ee 93%);
  padding-bottom: 80px;
}
.bg-detail::before {
  content: "";
  position: absolute;
  top: 5%;
  width: 100%;
  height: 100%;
  background-image: url("../img/section_6_detail_bg_1.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 430px) {
  .bg-detail::before {
    top: 10%;
  }
}
.bg-detail::after {
  content: "";
  position: absolute;
  top: 7%;
  width: 100%;
  height: 100%;
  background-image: url("../img/section_6_detail_bg_2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}
@media screen and (max-width: 430px) {
  .bg-detail::after {
    top: 8%;
  }
}
@media screen and (max-width: 430px) {
  .bg-detail {
    padding-bottom: 53.3333333333px;
  }
}

.section-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: #2b85b4;
  width: 100%;
  margin-top: 80px;
}
@media screen and (max-width: 430px) {
  .section-7 {
    padding: 33.3333333333px;
    margin-top: 53.3333333333px;
  }
}
.section-7__wrapper {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 430px) {
  .section-7__wrapper {
    gap: 20px;
    width: 100%;
  }
}
.section-7__top {
  font-size: var(--text);
  font-weight: bold;
  color: var(--yellow);
  text-align: center;
  padding: 12px 0;
  background-color: var(--dark-blue);
  width: 100%;
  border-radius: 100px;
}
@media screen and (max-width: 430px) {
  .section-7__top {
    font-size: calc(var(--text) / 2);
    padding: 8px 0;
  }
}
.section-7__bottom {
  font-size: var(--medium-text);
  font-weight: bold;
  color: white;
  text-align: center;
}
@media screen and (max-width: 430px) {
  .section-7__bottom {
    font-size: calc(var(--medium-text) / 2);
  }
}

.section-8__payment-method {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-items: center;
  position: relative;
  top: -30px;
}
@media screen and (max-width: 430px) {
  .section-8__payment-method {
    top: -20px;
  }
}
.section-8__payment-method img[alt=visa] {
  height: 141px;
  object-fit: contain;
}
@media screen and (max-width: 430px) {
  .section-8__payment-method img[alt=visa] {
    height: 94px;
  }
}
.section-8__payment-method img[alt=jcb] {
  height: 159px;
  object-fit: contain;
}
@media screen and (max-width: 430px) {
  .section-8__payment-method img[alt=jcb] {
    height: 106px;
  }
}
.section-8__payment-method img[alt=paypay] {
  height: 111px;
  object-fit: contain;
}
@media screen and (max-width: 430px) {
  .section-8__payment-method img[alt=paypay] {
    height: 74px;
  }
}
.section-8__text {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  font-size: var(--text);
  line-height: 2;
  margin-bottom: 80px;
}
@media screen and (max-width: 430px) {
  .section-8__text {
    font-size: calc(var(--text) / 1.7);
    margin-bottom: 53.3333333333px;
  }
}

.section-9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 80px 30px 50px;
  background: url("../img/section_9_bg.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 80px;
}
@media screen and (max-width: 430px) {
  .section-9 {
    padding: 53.3333333333px 20px 33.3333333333px;
    gap: 20px;
    margin-bottom: 53.3333333333px;
  }
}
.section-9 img {
  width: 100%;
  max-width: 518px;
  object-fit: cover;
}
.section-9 img:nth-child(2) {
  width: 268px;
}
@media screen and (max-width: 430px) {
  .section-9 img:nth-child(2) {
    width: 178.6666666667px;
  }
}
.section-9__slide-item {
  background-color: var(--light-blue);
  border-radius: 10px;
  padding: 20px;
}
@media screen and (max-width: 430px) {
  .section-9__slide-item {
    padding: 13.3333333333px;
  }
}
.section-9__slide-item__wrapper {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  height: 100%;
}
@media screen and (max-width: 430px) {
  .section-9__slide-item__wrapper {
    padding: 25px;
  }
}
.section-9__slide-item_top {
  display: flex;
  gap: 30px;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.5);
}
@media screen and (max-width: 430px) {
  .section-9__slide-item_top {
    gap: 20px;
    padding-bottom: 20px;
  }
}
.section-9__slide-item_top img {
  width: 142px;
  object-fit: cover;
}
@media screen and (max-width: 430px) {
  .section-9__slide-item_top img {
    width: 94.6666666667px;
  }
}
.section-9__slide-item_top__text {
  font-size: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
@media screen and (max-width: 430px) {
  .section-9__slide-item_top__text {
    font-size: calc(var(--text) / 1.5);
    gap: 6.6666666667px;
  }
}
.section-9__slide-item_top__text-tag {
  color: white;
  background-color: var(--dark-blue);
  padding: 2px 4px;
  width: fit-content;
}
.section-9__slide-item_top__text-vote span {
  color: var(--yellow);
}
.section-9__slide-item_bottom {
  font-size: var(--text);
  line-height: 1.5;
  padding-top: 30px;
}
@media screen and (max-width: 430px) {
  .section-9__slide-item_bottom {
    font-size: calc(var(--text) / 1.5);
    padding-top: 20px;
  }
}

.section-9__slide {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.section-9__slide-item {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}

.pagination {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.active {
  background-color: var(--dark-blue);
}

.section-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  padding: 0 30px;
}
@media screen and (max-width: 430px) {
  .section-10 {
    margin-bottom: 53.3333333333px;
    padding: 0 20px;
  }
}
.section-10__title {
  margin-bottom: 80px;
}
@media screen and (max-width: 430px) {
  .section-10__title {
    margin-bottom: 53.3333333333px;
  }
}
.section-10__title img {
  width: 420px;
  object-fit: cover;
}
@media screen and (max-width: 430px) {
  .section-10__title img {
    width: 100%;
  }
}
.section-10__map {
  margin-bottom: 50px;
}
@media screen and (max-width: 430px) {
  .section-10__map {
    margin-bottom: 33.3333333333px;
  }
}
.section-10__map img {
  width: 100%;
  object-fit: cover;
}
.section-10__text {
  width: 100%;
}
.section-10__text-title {
  font-size: 32px;
  font-weight: 500;
  color: var(--dark-blue);
  line-height: 1.5;
  margin-bottom: 30px;
}
@media screen and (max-width: 430px) {
  .section-10__text-title {
    font-size: 21.3333333333px;
    margin-bottom: 20px;
  }
}
.section-10__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 430px) {
  .section-10__text-wrapper {
    gap: 20px;
  }
}
.section-10__text-desc {
  font-size: var(--text);
  line-height: 1.5;
}
@media screen and (max-width: 430px) {
  .section-10__text-desc {
    font-size: calc(var(--text) / 1.5);
  }
}

.section-11 {
  background-color: var(--dark-blue);
  padding: 80px 30px;
}
@media screen and (max-width: 430px) {
  .section-11 {
    padding: 53.3333333333px 20px;
  }
}
.section-11__title {
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 80px;
}
@media screen and (max-width: 430px) {
  .section-11__title {
    font-size: 33.3333333333px;
    margin-bottom: 53.3333333333px;
  }
}
.section-11__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 430px) {
  .section-11__content {
    gap: 20px;
  }
}
.section-11__content-item {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}
@media screen and (max-width: 430px) {
  .section-11__content-item {
    padding: 20px;
  }
}
.section-11__content-item__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--text);
  color: var(--dark-blue);
  font-weight: 600;
}
@media screen and (max-width: 430px) {
  .section-11__content-item__title {
    font-size: calc(var(--text) / 1.5);
  }
}
.section-11__content-item__title img {
  width: 35px;
  object-fit: cover;
}
@media screen and (max-width: 430px) {
  .section-11__content-item__title img {
    width: 23.3333333333px;
  }
}
.section-11__content-item__title span {
  font-size: var(--small-text);
}
@media screen and (max-width: 430px) {
  .section-11__content-item__title span {
    font-size: calc(var(--small-text) / 1.5);
  }
}
.section-11__content-item__title p {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 5px;
}
.section-11__content-item__text {
  display: none;
  font-size: 20px;
  line-height: 1.5;
  grid-template-columns: max-content 1fr;
  gap: 10px;
  padding-top: 30px;
  border-top: 2px dashed rgba(128, 128, 128, 0.5);
}
@media screen and (max-width: 430px) {
  .section-11__content-item__text {
    font-size: 13.3333333333px;
    padding-top: 20px;
  }
}
.section-11__content-item__text span {
  font-size: var(--small-text);
  color: var(--red);
}
@media screen and (max-width: 430px) {
  .section-11__content-item__text span {
    font-size: calc(var(--small-text) / 1.5);
  }
}
.section-11__content-item__text p {
  margin-top: 12px;
}
@media screen and (max-width: 430px) {
  .section-11__content-item__text p {
    margin-top: 8px;
  }
}

footer {
  font-size: var(--text);
  color: white;
  font-weight: 500;
  background-color: var(--dark-blue);
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
@media screen and (max-width: 430px) {
  footer {
    font-size: calc(var(--text) / 1.5);
    height: 49.3333333333px;
    margin-top: 20px;
    margin-bottom: 75px;
  }
}

.net {
  padding: 80px 0;
  background-image: url("../img/net-bg.webp");
  background-size: cover;
  background-position: center;
}
.net img {
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 430px) {
  .net {
    padding: 53.3333333333px 0;
  }
}

.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 36px 43px 0 43px;
  border-color: var(--dark-blue) transparent transparent transparent;
  transform: rotate(0deg);
}
@media screen and (max-width: 430px) {
  .triangle {
    border-width: 24px 28.6666666667px 0 28.6666666667px;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-cta-custom {
  margin-top: 30px;
}
@media screen and (max-width: 430px) {
  .margin-cta-custom {
    margin-top: 20px;
  }
}

.padding-cta-custom {
  padding-top: 80px;
}
@media screen and (max-width: 430px) {
  .padding-cta-custom {
    padding-top: 53.3333333333px;
  }
}

.fixed-cta-sp {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--dark-blue);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 10px 20px;
}
.fixed-cta-sp img {
  width: 100%;
  object-fit: cover;
  position: relative;
}
@media screen and (min-width: 431px) {
  .fixed-cta-sp {
    display: none;
  }
}

.glow {
  position: relative;
  display: block;
}
@media screen and (min-width: 431px) {
  .glow {
    --animation-bg: transparent !important;
  }
}
.glow::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--animation-bg);
  z-index: 0;
  animation: glowAnimation 1s infinite;
  border-radius: 4px;
}

@keyframes glowAnimation {
  0% {
    transform: scale(1, 1);
    background-color: var(--animation-bg);
  }
  100% {
    transform: scale(1.1, 1.3);
    background-color: transparent;
  }
}

/*# sourceMappingURL=style.css.map */
